.button {
  font: inherit;
  border: 1px solid #F1C27B;
  background: #F1C27B;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 6px;
}

.button:hover,
.button:active {
  background: #FFD89C;
  border-color: #FFD89C;
}

.button:focus {
  outline: none;
}
